
.text-jumbotron-padding
.p 
	text-indent: 1em 
	text-align: justify-all
.boton span, .boton--sm span, .boton i, .boton--sm 
	color: #12263F
.color-cajon
	color:#E8E8E8
.mg
	padding: 1rem
.div 
	width: 70% 
